.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#app {
  // background-color: #283747;
  background-color: #2C3E50;
// #7D3C98
  min-height: 100vh;
}
